.abjad {
    display: inline-block;
    /* margin: 15px; */
    margin-bottom: 15px;
    margin-left: 16px;
    height: 58px;
    width: 58px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'longdoosi';
    font-size: 30px;
    line-height: 58px;
    color: white;
    /* margin-left: 16px; */
    text-transform: uppercase;
}

.abjad:active {
    background: rgba(0, 0, 0, 0.8);
}

#kotak {
    height: auto;
    width: auto;
    margin-top: 41px;
}

.back_btn {
    height: 44px;
    width: 141px;
    border-radius: 20px;
    background: rgba(197, 12, 12, 0.863);
    font-family: 'longdoosi';
    font-size: 20pt;
    line-height: 44px;
}